.Scroll {
    width: 100vw;
    height: 2000vh;
    padding-top: 20px;
    margin: 0;
    /* background: linear-gradient(180deg, #40f, rgb(140, 0, 255)); */
    overflow-y: hidden;
  }
  
  .box {
    height: 500px;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }

  .row {
  }
  