.jumbotron {
    margin-bottom: 0 !important;
    padding: .5rem 0 .5rem 0;
}

h6 {
    margin: 0;
}

#unicorn {
    /* min-height: 500px; */
}

#ground {
    background: url("./../../assets/grass.png");    
    background-repeat: repeat-x;
    background-position: bottom;
    bottom: 0;
}

#bottomUni, #bottomUni2 {
    z-index: -100000;
    position: relative;
}