.uniJumbo {
    margin-bottom: 0 !important;
    padding: .5rem 0 .5rem 0;
}

h6 {
    margin: 0;
}

#unicorn {
    background: url("./../../assets/cloud3.png");    
    background-repeat: repeat-x;
    background-position: top;
   
}
.purpleBtnDiv {
    overflow: hidden !important;
    max-height: 400px;
}
#ground {
    background: url("./../../assets/grass.png");    
    background-repeat: repeat-x;
    background-position: bottom;
    /* min-height: 512px; */
    /* width: auto; */
}

